{
  "extends": "simplifield",
  "env": {
    "es6": true,
    "browser": true,
    "mocha": true
  },
  "globals": {
    "angular": false,
    "inject": false,
    "module": false,
    "require": false,
    "describe": false,
    "beforeEach": false,
    "afterEach": false,
    "before": false,
    "after": false,
    "it": false,
    "sinon": false,
    "expect": false
  },
  "rules": {}
}
